.fancybox-skin{
    overflow: hidden;
}
.fancybox-inner{
    overflow: hidden !important;
}
.hideDlgdiv{
    display:none !important;
}
#upload-video-form.height100{
    height:100% !important;
}
#category_dropdown{
    width:100%;
}
#casino_dropdown{
    width:100%;
}
#provider_dropdown{
    width:100%;
}