<div class="wrap-popup bordered">
    <div class="popup popup-wide">
        <div class="popup-content">
            <div class="block-share">
                <div class="popup-container-outside">
                    <div class="popup-container-inside">
                        <div class="popup-subtitle">Comments <span class="fw-bold">45</span>
                        </div>
                        <div class="comments-block global_comments">
                            <div id="ac_block" class="comment-send">
                                <form id="ac_form" action="" method="post">
                                    <div class="send-form">
                                        <div class="wrap-overflow">
                                            <div class="send-form-avatar">
                                                <a href="../profile.html">
                                                    <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="send-form-text">
                                                <textarea name="send" placeholder="Add your comment..." class="ftext inverse"></textarea>
                                            </div>
                                        </div>
                                        <button class="btn cancel btn-send-form right">Send</button>
                                    </div>
                                </form>
                            </div>
                            <div class="popup-separate"></div>
                            <div class="comments">
                                <div class="comments-items wrap-scroll-popup">
                                    <div class="comment-item">
                                        <div class="comment-ava">
                                            <a href="../member.html" title="#">
                                                <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="wrap-overflow">
                                            <div class="ci-caption"><a href="../member.html" class="ci-name">Shibani Biswas </a><span class="ci-date">1 month ago </span>
                                            </div>
                                            <div class="ci-text">Oh good, we've got a video for this... :D Yeah honestly I find this track really amazing.. The voice is awesome and
                                                <br/>fits perfectly with the melody, which is very cool. And that drop though, it's very catchy & breathtaking..
                                                <br/>I'm loving that !!
                                                <br/>Congrats guys, it's awesome !! :)﻿</div>
                                            <div class="ci-control"><a href="#" class="reply">Reply    </a><span class="count-likes">30</span>
                                                <a href="#" class="wrap-icon ci-like">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-like"></use>
                                                    </svg>
                                                </a>
                                                <a href="#" class="wrap-icon ci-dislike">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-dislike"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-ava">
                                            <a href="../member.html" title="#">
                                                <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="wrap-overflow">
                                            <div class="ci-caption"><a href="../member.html" class="ci-name">Shibani Biswas </a><span class="ci-date">1 month ago </span>
                                            </div>
                                            <div class="ci-text">Oh good, we've got a video for this... :D Yeah honestly I find this track really amazing.. The voice is awesome and
                                                <br/>fits perfectly with the melody, which is very cool. And that drop though, it's very catchy & breathtaking..
                                                <br/>I'm loving that !!
                                                <br/>Congrats guys, it's awesome !! :)﻿</div>
                                            <div class="ci-control"><a href="#" class="reply">Reply    </a><span class="count-likes">30</span>
                                                <a href="#" class="wrap-icon ci-like">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-like"></use>
                                                    </svg>
                                                </a>
                                                <a href="#" class="wrap-icon ci-dislike">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-dislike"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-ava">
                                            <a href="../member.html" title="#">
                                                <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="wrap-overflow">
                                            <div class="ci-caption"><a href="../member.html" class="ci-name">Shibani Biswas </a><span class="ci-date">1 month ago </span>
                                            </div>
                                            <div class="ci-text">Oh good, we've got a video for this... :D Yeah honestly I find this track really amazing.. The voice is awesome and
                                                <br/>fits perfectly with the melody, which is very cool. And that drop though, it's very catchy & breathtaking..
                                                <br/>I'm loving that !!
                                                <br/>Congrats guys, it's awesome !! :)﻿</div>
                                            <div class="ci-control"><a href="#" class="reply">Reply    </a><span class="count-likes">30</span>
                                                <a href="#" class="wrap-icon ci-like">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-like"></use>
                                                    </svg>
                                                </a>
                                                <a href="#" class="wrap-icon ci-dislike">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-dislike"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-ava">
                                            <a href="../member.html" title="#">
                                                <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="wrap-overflow">
                                            <div class="ci-caption"><a href="../member.html" class="ci-name">Shibani Biswas </a><span class="ci-date">1 month ago </span>
                                            </div>
                                            <div class="ci-text">Oh good, we've got a video for this... :D Yeah honestly I find this track really amazing.. The voice is awesome and
                                                <br/>fits perfectly with the melody, which is very cool. And that drop though, it's very catchy & breathtaking..
                                                <br/>I'm loving that !!
                                                <br/>Congrats guys, it's awesome !! :)﻿</div>
                                            <div class="ci-control"><a href="#" class="reply">Reply    </a><span class="count-likes">30</span>
                                                <a href="#" class="wrap-icon ci-like">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-like"></use>
                                                    </svg>
                                                </a>
                                                <a href="#" class="wrap-icon ci-dislike">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-dislike"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-item">
                                        <div class="comment-ava">
                                            <a href="../member.html" title="#">
                                                <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="wrap-overflow">
                                            <div class="ci-caption"><a href="../member.html" class="ci-name">Shibani Biswas </a><span class="ci-date">1 month ago </span>
                                            </div>
                                            <div class="ci-text">Oh good, we've got a video for this... :D Yeah honestly I find this track really amazing.. The voice is awesome and
                                                <br/>fits perfectly with the melody, which is very cool. And that drop though, it's very catchy & breathtaking..
                                                <br/>I'm loving that !!
                                                <br/>Congrats guys, it's awesome !! :)﻿</div>
                                            <div class="ci-control"><a href="#" class="reply">Reply    </a><span class="count-likes">30</span>
                                                <a href="#" class="wrap-icon ci-like">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-like"></use>
                                                    </svg>
                                                </a>
                                                <a href="#" class="wrap-icon ci-dislike">
                                                    <svg class="svg-icon" width="456.8px" height="438.5px">
                                                        <use xlink:href="#rating-dislike"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap-overflow text-center"><span data-count-page="2" data-from="{{$nav.var_from}}" data-id="{{$block_uid}}" data-total="{{$nav.page_total}}" data-id-dir="{{$video_info.dir}}" data-item-class="comment-item" data-container="comments" class="show-more js-ajax-uploading">Load More ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>