<div class="wrap-popup bordered">
    <div class="popup popup-wide">
        <div class="popup-content">
            <div class="popup-container-outside">
                <div class="popup-container-inside">
                    <div class="popup-subtitle">[_Video name] Details</div>
                    <div class="popup-text">
                        <p>Check out Armada Music Radio on Spotify: <a href="#" class="popup-link">http://bit.ly/ArmadaRadio</a>
                        </p>
                        <p>Subscribe to Armada TV: <a href="#" class="popup-link black fw-bold">http://bit.ly/SubscribeArmada</a>
                        </p>
                    </div>
                    <div class="popup-text">
                        <p>Watch the top 10 greatest music videos of Armada Music all in one video!</p>
                    </div>
                </div>
                <div class="popup-separate"></div>
                <div class="popup-container-inside">
                    <div class="wrap-overflow">
                        <div class="box-info-data-row">
                            <div class="box-info-data">
                                <div class="box-info-data-item wrap-icon"><span class="key">Views:</span><span class="value">1684</span>
                                </div>
                                <div class="box-info-data-item wrap-icon"><span class="key">Duration:</span><span class="value">3min 28 sec</span>
                                </div>
                                <div class="box-info-data-item wrap-icon"><span class="key">Submitted:</span><span class="value">3 years ago</span>
                                </div>
                                <div class="box-info-data-item wrap-icon"><span class="key">By :</span><span class="value"> <a href="#" class="box-info-link">Ragnar Lodbrock</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="popup-separate"></div>
                        <div class="box-info-data-row">
                            <div class="specific-list info">
                                <div class="specific-item">
                                    <div class="specific-label">Categories:</div>
                                    <div class="specific-value">
                                        <div class="list-links"><a href="#" class="list-links-item">Party</a><a href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Party</a><a href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Party</a>
                                            <a
                                            href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Party</a><a href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Taxi</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="specific-item">
                                    <div class="specific-label">Models:</div>
                                    <div class="specific-value">
                                        <div class="list-links"><a href="#" class="list-links-item">Justin Timberlake</a><a href="#" class="list-links-item">Madonna</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="specific-item">
                                    <div class="specific-label">Tags:</div>
                                    <div class="specific-value">
                                        <div class="list-links"><a href="#" class="list-links-item">Party</a><a href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Party</a><a href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Party</a>
                                            <a
                                            href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Party</a><a href="#" class="list-links-item">Taxi</a><a href="#" class="list-links-item">Taxi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap-overflow"></div>
                </div>
            </div>
        </div>
    </div>
</div>