<div class="wrap-popup rounded">
    <div class="popup popup-standart">
        <div class="popup-content">
            <div class="popup-container">
                <div class="popup-title bold wrap-icon">
                    <svg class="svg-icon" width="15px" height="15px">
                        <use xlink:href="#exit"></use>
                    </svg>
                    <span>Login to 
            <div class="site-name">Video-<span>Tube</span>
                </div>
                </span>
            </div>
            <div class="popup-prompt">
                <p>This Action is available for registerred members only.</p>
                <p>Please <span>Log in </span>or <a href="#" data-href="templates/default/helpers/signup.html" data-max-width="850" class="js__btn-popup">Create your account</a>
                </p>
            </div>
            <div class="popup-indent"></div>
            <div class="form-container">
                <form id="logon_form" action="" method="post" class="form1">
                    <input type="hidden" name="action" value="login" />
                    <input type="hidden" name="mode" value="async" />
                    <div class="form-row">
                        <div class="holder">
                            <input type="text" name="username" placeholder="User name" class="finp" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="holder">
                            <input type="password" name="pass" placeholder="Password" class="finp error" />
                            <div id="user_error2" class="field_error">Invalid login or password</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="wrap-fcustominp"><span class="fcustominp">
                  <input id="remeber-computer" type="checkbox"/>
                  <label for="remeber-computer"></label></span>
                            <label for="remeber-computer" class="fcustominp-label">Remeber me on this computer</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="notedit">
                            <button type="submit" class="btn confirm full">Login</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="popup-prompt">
                            <p>Forgot username or password? <a href="#" data-href="templates/default/helpers/remind.html" data-max-width="460" class="js__btn-popup">Click here</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>