<div class="wrap-popup bordered">
    <div class="popup popup-wide">
        <div class="popup-content">
            <div class="block-share">
                <div class="popup-container-outside">
                    <div class="popup-container-inside">
                        <div class="popup-subtitle">Send Message to <a href="#" class="popup-link">Shibani Biswas</a>
                        </div>
                        <div class="send-form">
                            <div class="wrap-overflow">
                                <div class="send-form-avatar">
                                    <a href="../profile.html">
                                        <img src="static/img/assets/thumbs/member.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="send-form-text">
                                    <textarea name="send" placeholder="Add your message..." class="ftext inverse"></textarea>
                                </div>
                            </div>
                            <button class="btn cancel btn-send-form right">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>