<div class="wrap-popup bordered">
    <div class="popup popup-wide">
        <div class="popup-content">
            <div class="block-share">
                <div class="popup-container-outside">
                    <div class="popup-container-inside">
                        <div class="popup-subtitle">Report Video</div>
                        <div class="popup-text">
                            <p>Users upload thousands of video to XSearch every day. With so much content on the site, it would be impossible to review it all. That’s why we rely on XSearch community members to report content that they find inappropriate.</p>
                            <p>XSearch staff reviews inappropriate content 24 hours a day, seven days a week, and content that violates our Terms is removed from XSearch. Inappropriate content is not automatically remove by the system. If content does not
                                violate our guidelines, no amount of reporting will change that, and the video will stay on the site.</p>
                        </div>
                        <div class="popup-text">
                            <p>To report inappropriate content to XSearch, please submit the report through the form below.</p>
                        </div>
                        <div class="report-form">
                            <div class="form-container">
                                <form action="">
                                    <div class="report-radios">
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="inappropriate" type="radio" name="flag" value="flag_inappropriate_video" checked=""/>
                          <label for="inappropriate"></label></span>
                                                <label for="inappropriate" class="fcustominp-label">Inappropriate</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="violence" type="radio" name="flag" value="flag_violence_video"/>
                          <label for="violence"></label></span>
                                                <label for="violence" class="fcustominp-label">Violence</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="spam" type="radio" name="flag" value="flag_spam_video"/>
                          <label for="spam"></label></span>
                                                <label for="spam" class="fcustominp-label">Spam</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="child" type="radio" name="flag" value="flag_child_video"/>
                          <label for="child"></label></span>
                                                <label for="child" class="fcustominp-label">Child abuse</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="animals" type="radio" name="flag" value="flag_animals_video"/>
                          <label for="animals"></label></span>
                                                <label for="animals" class="fcustominp-label">Sex with animals</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="wrong" type="radio" name="flag" value="flag_wrong_video"/>
                          <label for="wrong"></label></span>
                                                <label for="wrong" class="fcustominp-label">Wrong category</label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="wrap-fcustominp"><span class="fcustominp">
                          <input id="broken" type="radio" name="flag" value="flag_broken_video"/>
                          <label for="broken"></label></span>
                                                <label for="broken" class="fcustominp-label">Broken video</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="report-reason">
                                        <div class="form-row">
                                            <div class="flabel">Timestamp selected</div>
                                            <div class="holder">
                                                <div class="smalls-inputs">
                                                    <div class="smalls-input">
                                                        <div class="holder">
                                                            <input value="0" class="finp-min" />
                                                        </div>
                                                    </div>
                                                    <div class="smalls-inputs-label">:</div>
                                                    <div class="smalls-input">
                                                        <div class="holder">
                                                            <input value="0" class="finp-min" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="reason" class="flabel">Please provide additional details about:</label>
                                            <div class="holder">
                                                <textarea id="reason" class="ftext inverse"></textarea>
                                                <div id="error_report" class="failure g_hidden">The field is required</div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <button data-dir="" data-id="" class="btn cancel right js__report"><span>Send Report</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>