<div class="wrap-popup bordered">
    <div class="popup popup-wide">
        <div class="popup-content">
            <div class="block-share">
                <div class="popup-container-outside">
                    <div class="popup-container-inside">
                        <div class="popup-subtitle">Screenshots</div>
                        <div class="popup-slider screenshots">
                            <div class="popup-slider-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <img src="static/img/content/screenshots.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next">
                                    <svg class="svg-icon" width="15px" height="27px">
                                        <use xlink:href="#arr-right"></use>
                                    </svg>

                                </div>
                                <div class="swiper-button-prev">
                                    <svg class="svg-icon" width="15.03px" height="27px">
                                        <use xlink:href="#arr-left"></use>
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>