<div class="wrap-popup bordered">
    <div class="popup popup-wide">
        <div class="popup-content">
            <div class="block-share">
                <div class="popup-container-outside">
                    <div class="popup-container-inside">
                        <div class="popup-subtitle">Share this video</div>
                        <div class="form-container">
                            <div class="form-row">
                                <div class="flabel gray">Link to this video:</div>
                                <div class="popup-social">
                                    <a href="#" class="popup-social-link">
                                        <img src="static/img/content/popup-fb.png" alt="" />
                                    </a>
                                    <a href="#" class="popup-social-link">
                                        <img src="static/img/content/popup-tw.png" alt="" />
                                    </a>
                                    <a href="#" class="popup-social-link">
                                        <img src="static/img/content/popup-g.png" alt="" />
                                    </a>
                                    <a href="#" class="popup-social-link">
                                        <img src="static/img/content/popup-in.png" alt="" />
                                    </a>
                                    <a href="#" class="popup-social-link">
                                        <img src="static/img/content/popup-tumbler.png" alt="" />
                                    </a>
                                    <a href="#" class="popup-social-link">
                                        <img src="static/img/content/popup-v.png" alt="" />
                                    </a>
                                </div>
                                <div class="holder">
                                    <input type="text" readonly="readonly" name="link_video" value="http://www.videotube.com/videos/7/super-video/" class="finp-min" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="flabel gray">BB code:</div>
                                <div class="holder">
                                    <input type="text" readonly="readonly" name="bb_code" value="[url=http://www.videotube.com/videos/7/super-video/]Super Video[/url]" class="finp-min" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="flabel gray">Embed code:</div>
                                <div class="holder">
                                    <input type="text" readonly="readonly" name="embed_code" placeholder="No embed codes for private or premium videos" value="&lt;iframe width=&quot;640&quot; height=&quot;363&quot; src=&quot;http://www.kvs-demo.com/embed/8&quot; frameborder=&quot;0&quot; allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen&gt;&lt;/iframe&gt;"
                                    class="finp-min embed-code" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="flabel gray">Embed size:</div>
                                <div class="wrap-embed-size">
                                    <div class="embed-size">
                                        <div class="list-links"><a href="#" data-embed-size="400x180" class="list-links-item big embed-button">400x180</a><a href="#" data-embed-size="480x216" class="list-links-item big embed-button">480x216</a><a href="#" data-embed-size="640x288"
                                            class="list-links-item big embed-button">640x288</a><a href="#" data-embed-size="960x432" class="list-links-item big embed-button">960x432</a>
                                        </div>
                                    </div>
                                    <div class="embed-size-custom">
                                        <div class="list-links left"><a href="#" data-embed-size="360x162" class="list-links-item big embed-button embed-button-custom">Custom: <span class="ez-width">360</span>x<span class="ez-height">162</span></a>
                                        </div>
                                        <div class="smalls-inputs">
                                            <div class="smalls-input">
                                                <div class="holder">
                                                    <input value="360" class="finp-min embed-code-custom-width" />
                                                </div>
                                            </div>
                                            <div class="smalls-inputs-label">x</div>
                                            <div class="smalls-input">
                                                <div class="holder">
                                                    <input value="162" class="finp-min embed-code-custom-height" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>