<div class="wrap-popup rounded">
    <div class="popup popup-wides wrap-popup-side-panel">
        <div class="popup-main-panel">
            <div class="popup-content">
                <div class="popup-container">
                    <div class="popup-tabs">
                        <div class="popup-tab">
                            <a href="#" data-href="helpers/upload-video-step1.html" data-max-width="850" class="popup-tab-link wrap-icon js__btn-popup">
                                <svg class="svg-icon" width="29px" height="24px">
                                    <use xlink:href="#upload2"></use>
                                </svg>
                                <span>Upload Video</span>
                            </a>
                        </div>
                        <div class="popup-tab active">
                            <a href="#" data-href="helpers/upload-album-step1.html" data-max-width="850" class="popup-tab-link wrap-icon js__btn-popup">
                                <svg class="svg-icon" width="29px" height="24px">
                                    <use xlink:href="#upload2"></use>
                                </svg>
                                <span>Upload Photo</span>
                            </a>
                        </div>
                    </div>
                    <div class="steps step1">
                        <div class="steps-captions">
                            <div class="steps-caption-left">Upload file</div>
                            <div class="steps-caption-right">Add Info</div>
                        </div>
                        <div class="steps-progress">
                            <div class="circle first"></div>
                            <div class="circle last"></div>
                            <div class="wrap-overflow">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-container">
                        <form id="signup_form" action="#" method="post" class="form1"></form>
                        <div class="form-row">
                            <div class="flabel">Upload files from your hard disk:</div>
                            <div class="holder">
                                <div class="pseudoFile">
                                    <input id="pseudoFileLoadLocal" type="text" placeholder="Select video file here" class="inputFileText" />
                                    <input id="load_local" type="file" name="load_local" maxlength="100" size="60" onchange="document.getElementById('pseudoFileLoadLocal').value = this.value" class="fileInput" /><span class="choose">Browse...</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="notedit"><a href="#" data-href="helpers/upload-album-step2.html" data-max-width="850" class="btn confirm full js__btn-popup">Continue </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-side-panel">
            <div class="popup-container">
                <div class="popup-title wrap-icon"><span> Upload Rules</span>
                    <div class="popup-text">
                        <p>Only upload photo that you made or that you are authorized to use.</p>
                    </div>
                    <div class="popup-text">
                        <p>All photos are subject to removal by site administration without prior notice.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>