<div class="wrap-popup bordered">
    <div class="popup popup-big">
        <div class="popup-content">
            <div class="block-share">
                <div class="popup-container-outside">
                    <div class="popup-container-inside">
                        <div class="popup-subtitle">Test My Playlist</div>
                        <div class="popup-slider">
                            <div class="popup-slider-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="popup-slider-item">
                                            <div class="thumb"><span class="thumb-preview video"><a href="trailer.html"><img src="static/img/assets/thumbs/video.jpg" alt=""/><span class="new">new</span><span class="add-favorite wrap-icon">
            <svg class="svg-icon" width="17px" height="16px">
                <use xlink:href="#heart"></use>
            </svg>
        </span><span class="add-watch-later wrap-icon">
            <svg class="svg-icon" width="12px" height="12px">
                <use xlink:href="#time"></use>
            </svg>
        </span><span class="preview-info-group-br"><span class="time">24:37</span><span class="hd">
            <svg class="svg-icon" width="24px" height="20px">
                <use xlink:href="#hd"></use>
            </svg>
        </span></span><span class="rating rat-video wrap-icon">
            <svg class="svg-icon" width="35.97px" height="40.031px">
                <use xlink:href="#like"></use>
            </svg>
        <span>92%</span></span>
                                                </a>
                                                </span><span class="thumb-info"><span class="name text-truncate"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit</span></span><span class="thumb-sub-info right wrap-icon"><span>365,452</span>
                                                <svg class="svg-icon" width="22px" height="16px">
                                                    <use xlink:href="#eye2"></use>
                                                </svg>
                                                </span>
                                                <a href="#" class="info-cs">
                                                    <img src="static/img/assets/thumbs/cs-info-mini.png" alt="" />
                                                </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next">
                                    <svg class="svg-icon" width="15px" height="27px">
                                        <use xlink:href="#arr-right"></use>
                                    </svg>

                                </div>
                                <div class="swiper-button-prev">
                                    <svg class="svg-icon" width="15.03px" height="27px">
                                        <use xlink:href="#arr-left"></use>
                                    </svg>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>